{% extends 'base.html.twig' %}

{% block title %}
  Welcome on Lockdown series
{% endblock %}

{% block body %}
  <div style="background-image: url('/images/background-homepage.jpg')">
    <h1 class="d-flex justify-content-center col-lg-12">
      <img src="https://fontmeme.com/permalink/210512/d3844c7146e969b725b529c4412bdb24.png"
        alt="netflix-font"
        border="2px" />
    </h1>
    <div>
      <h2>
        Bienvenue sur votre site préfré
      </h2>
      <p>
        Vous allez pouvoir découvrir notre watchlist pour le confinement
      </p>
    </div>
  </div>
{% endblock %}
