<form method="post" action="{{ path('comment_delete', {'id': comment.id}) }}" onsubmit="return confirm('Êtes-vous sûr(e) de voulir supprimer ce commentaire?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
    {% if app.user or is_granted("ROLE_ADMIN") %}
        <button class="btn">Delete</button>
    {% endif %}
</form>
